<?xml version="1.0"?>
<configuration>

    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    </configSections>

    <log4net>
        <appender name="CommonAppender" type="log4net.Appender.RollingFileAppender">
            <file value="log"/>
            <datePattern value="dd-MM-yyyy"/>
            <appendToFile value="true"/>
            <rollingStyle value="Composite"/>
            <maxSizeRollBackups value="1000"/>
            <maximumFileSize value="1MB"/>
            <staticLogFileName value="false"/>
            <countDirection value="1"/>
            <layout type="log4net.Layout.PatternLayout">
                <param name="ConversionPattern" value="%n%d %-5p [%c, %t] - %m"/>
            </layout>
        </appender>

        <appender name="ConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
            <mapping>
                <level value="FATAL"/>
                <foreColor value="Red, HighIntensity"/>
            </mapping>
            <mapping>
                <level value="ERROR"/>
                <foreColor value="Red, HighIntensity"/>
            </mapping>
            <mapping>
                <level value="WARN"/>
                <foreColor value="Purple, HighIntensity"/>
            </mapping>
            <mapping>
                <level value="DEBUG"/>
                <foreColor value="White"/>
            </mapping>
            <mapping>
                <level value="INFO"/>
                <foreColor value="Yellow, HighIntensity"/>
            </mapping>
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%n%d %-5p [%c, %t] - %m"/>
            </layout>
        </appender>

        <root>
            <level value="DEBUG"/>
            <appender-ref ref="CommonAppender"/>
            <appender-ref ref="ConsoleAppender"/>
        </root>
    </log4net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
